:root {
  --text-color: #fff;
  --primary-color: #3100e4;
  --shade-primary: #0026ff;
  --shadow-primary: #566fff77;
  --secondary-color: #658eff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #262626;
}

h1 {
  font-size: 4rem;
  color: var(--text-color);
  text-shadow: 0 1px 15px var(--primary-color), 0 0px 30px var(--shade-primary),
    0 0px 50px var(--shadow-primary);
  animation: shine 2s forwards, flicker 3s infinite;
}

.stage {
  width: 60vw;
  height: 60vw;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.25);

  max-width: 400px;
  max-height: 400px;

  background-image: url('./assets/hash.svg');
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.square {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.O {
  width: 100%;
  height: 100%;
  background-image: url('./assets/O.svg');
  background-size: contain;
  transition: all 0.2s ease;
  animation: shine 5s forwards;
  font-size: 1rem;
  cursor: pointer;
}

.X {
  width: 100%;
  height: 100%;
  background-image: url('./assets/X.svg');
  background-size: contain;
  animation: shine 3s forwards;
  font-size: 1rem;
  cursor: pointer;
}

button {
  padding: 1rem 3rem;
  border-radius: 10px;
  border: 1px solid var(--text-color);
  background-color: transparent;
  color: var(--text-color);
  text-shadow: 0 1px 15px var(--primary-color), 0 0px 30px var(--shade-primary),
    0 0px 50px var(--shadow-primary);
  animation: shine 3s forwards, flicker 5s infinite;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff22;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem var(--shade-primary),
      -0.2rem 0.1rem 1rem var(--shade-primary),
      0.2rem 0.1rem 1rem var(var(--shadow-primary)),
      0 -0.5rem 2rem var(--primary-color), 0 0.5rem 3rem var(--primary-color);
  }
  28%,
  33% {
    color: var(--secondary-color);
    text-shadow: none;
  }
  82%,
  97% {
    color: var(--primary-color);
    text-shadow: none;
  }
}

@keyframes shine {
  0% {
    color: #184a6b;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem var(--secondary-color),
      -0.2rem 0.1rem 1rem var(--secondary-color),
      0.2rem 0.1rem 1rem var(--secondary-color),
      0 -0.5rem 2rem var(--primary-color), 0 0.5rem 3rem var(--primary-color);
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 570px) {
  .stage {
    width: 90vw;
    height: 90vw;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}
